<app-nav navPage='privacy' loggedIn={{loggedIn}}></app-nav>
<h1>Privacy Policy</h1>
<ul>
    <li>
        We do not collect any information aside from the information provided on registration and profile creation.
    </li>
    <li>
        It is only used to allow the website to function by storing a session of your profile.
    </li>
    <li>
        This profile is stored in a remote database not shared with anyone.
    </li>
    <li>
        Deleting your profile will permanently delete your data.
    </li>
</ul>